/* -----------------------
         Google Font 
-------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* ----------------------
    Common Useful Component 
-------------------------*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 80%;
    margin:0 auto;
}
ul li{
    list-style: none;
}
/* ----------------
       Top header 
-------------------- */
header{
    padding: 30px;
}
.top-header{
    height: 95vh;
    background-color: #594BA2;
    overflow: hidden;
    border-radius: 20px; 
}
.top-header .container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.top-header-text{
    margin-top: 180px; 
    color:#fff
} 
.top-header-text h1{
    font-size: 64px;
    font-weight: 700;
    line-height:60px;
    margin-bottom: 20px;
}
.top-header-text p{
    line-height: 25px;
}
.top-header-text button{
    background-color: #E02C6D;
    border:none;
    color:#fff;
    padding:10px 24px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 27px;
    letter-spacing: 1px;
    cursor: pointer;
    transition:1s;
    border-radius: 5px;
}
.top-header-text button:hover{
    background-color: #fff;
    color:#E02C6D; 
}
.fa-arrow-right{
    padding-left: 5px;
}
.top-header-text button:hover .fa-arrow-right{
    padding-left: 13px;
    transform: scale(1.3);
    transition:1s; 
}
.top-header-image img{
    width: 100%;
    margin-top: 54px;
}
/* ================================ */
.player-section{
    padding: 60px 0;
    display: grid;
    grid-template-columns:  20% 80%;
    gap: 20px;
} 
.player-navbar ul{
    padding: 0;
    margin: 0;
    background-color: #282A36;
    padding: 20px;
    border-radius: 10px;
}
.player-navbar ul li{
    list-style: none;
    margin: 15px 0;
}
.player-navbar ul li a.active{
    background-color: #DD0000;
    color:#fff;
    font-weight: bold;
    display: inline-block;
    border-radius: 10px;
    padding: 8px 15px;
}
.player-navbar ul li a{
    text-decoration: none;
    color:#fff;
}
.player-card{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
}
.single-player{
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.single-player img{
    width: 100%;
}
.single-player-content{
    padding: 15px;
}
.single-player-content button{
    padding:6px 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: transparent;
    color:#000;
    margin-bottom: 15px;
}
.single-player-content h3{
    margin-bottom: 10px;
    font-size: 17px;
}
.icons{
    display: flex; 
    align-items: center;
    gap:20px;
    color:#777;
}
.icons i{
    display: inline-block;
    margin-right: 6px;
}
.view-all-btn{
    text-align: center;
    margin: 15px 0;
    display: none;
}
.view-all-btn button{
    padding:8px 20px;
    border: none;
    background-color: #DD0000;
    border-radius: 5px;
    color:#fff;
    
}
/* ===================== */
/* =====Match csss ====*/
/* ===================== */
.player-play{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}
.single-player-play{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}
.content{
    text-align: center;
    margin-top: 20px;
}
.content h4{
    margin-bottom: 10px;

}
.content span{
    color:#777;
    font-size: 13px;
}

/* Footer section */
footer{
    padding: 60px 0;
    background-color: #161616;
    color:#fff;
    text-align: center;
}
.footer-title {
    padding: 40px 0;
}
.footer-title h2{
    font-size: 45px;
}
footer hr{
    margin-bottom: 30px;
    background-color: #777; 
     
}
.footer-nav ul li{
    display: inline;
    margin: 0 15px;
}
.footer-nav ul li a{
    text-decoration: none;
    color: #777;
}
.footer-social-link {
    margin: 30px 0;
    display: none;
}
.footer-social-link a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
}

/* ------------------------
          Media Query
--------------------------- */
@media only screen and (max-width:500px) {
    .top-header{
      height: auto;  
    }
    .top-header .container{ 
        grid-template-columns: repeat(1,1fr);
    }
    .top-header-text{
        margin-top: 40px; 
        text-align: center; 
    } 
    .top-header-text h1{
        font-size: 50px;
        line-height:55px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .top-header-image img{ 
        margin-top: 50px;
    } 
    /*============================================ */
    .player-section{ 
        grid-template-columns:  repeat(1, 1fr);
        
    } 
    .player-navbar ul{ 
        background-color: #fff; 
        text-align: center;
    }
    .player-navbar ul li{ 
        display: block;
        margin: 15px 5px; 
        
    }
    .player-navbar ul li a{ 
        color: #000;
        padding: 10px 25px;
        border: 1px solid #777;
        border-radius: 6px;
        line-height: 40px;
    }
    .player-navbar ul li a.active{
        padding: 2px 15px;
    }
    /* ========================= */
    .player-card{ 
        grid-template-columns: repeat(1, 1fr);
         
   }
   /* ============================ */
   .footer-nav ul li{
        display: block;
        margin: 15px 0;
   }
   .footer-social-link{
        display: block;
   }
}    
/* =============================================================== */
@media only screen and (min-width: 501px) and (max-width: 800px){
    .top-header{
        height: auto; 
    }
    .top-header .container{ 
        grid-template-columns: repeat(2,1fr);
    }
    .top-header-text{ 
        text-align: left; 
        margin-top: 20px;
        padding: 15px 0;
        margin-bottom: 20px;
    } 
    .top-header-text h1{ 
        font-size: 35px;
        line-height: 35px;
    }
    .top-header-image{
        overflow: hidden;
    }
    .top-header-image img{ 
        margin-top: 85px;
    }
     /*===================  */
     .player-section{ 
        grid-template-columns:  repeat(1, 1fr);
        
    } 
    .player-navbar ul{ 
        background-color: #fff; 
        text-align: center;
    }
    .player-navbar ul li{ 
        display: inline-block;
        margin: 15px 5px; 
        
    }
    .player-navbar ul li a{ 
        color: #000;
        padding: 10px 25px;
        border: 1px solid #777;
        border-radius: 6px;
        line-height: 40px;
    }
    .player-navbar ul li a.active{
        padding: 2px 15px;
    }
    /* ========= */
     /* ========================= */
     .player-card{ 
        grid-template-columns: repeat(2, 1fr);
         
   }
   .view-all-btn{
        display: block;
   } 
   /* ============================ */
   .footer-nav ul li{
    line-height: 30px;
   }
}